<!-- /**
 * @author Hangzhi Pang
 */ -->

 <!DOCTYPE html>
 <html lang="">
 <head>
 	<meta charset="utf-8">
 	<title>Meeting</title>
 	<link rel="stylesheet" type="text/css" href="/css/general.css">
 	<link rel="stylesheet" type="text/css" href="/css/all_mtg.css">

 </head>
 <body>    
 	<section style="width: 100%;">
 		<div>
 			<table style="width: 100%;">
 				<tr>
 					<th>Meeting Code</th>
 					<th>Meeting Name</th>
 					<th>Date</th>
 					<th>Time</th>
 					<th></th>
 				</tr>
 				
 				<% for(var i = 0; i < meetings.rows.length; i++) { %>
	 				<tr>
	 					<td style="display:none;"><%= meetings.rows[i].id %></td>
	 					<td><%= meetings.rows[i].mtg_code %></td>
	 					<td><%= meetings.rows[i].name %></td>
	 					<td><%= meetings.rows[i].mtg_timing.split('|')[0] %></td>
	 					<td><%= meetings.rows[i].mtg_timing.split('|')[1] %></td>
	 					<% var btn_id = "acc_btn_"+ meetings.rows[i].id; %>
	 					<td>
	 						<form action="/show_audios" method="post">
	 							<input style="display:none;" id="mtg_id" type="text" name="mtg_id" value=<%= meetings.rows[i].id %>>
	 							<button type="submit" class="accordion"
	 							id=<%= btn_id %>>Audios</button>
	 						</form>
	 					</td>
	 				</tr>
 					<% var tr_id = "acc_tr_"+ meetings.rows[i].id %>
<!-- 	 				<tr class="panel" id=<%= tr_id %>>
	 					<td colspan="5">Loading Audio Data...</td>
	 				</tr> -->
 				<% } %> 
 			</table>
 		</div>
 	</section>


 </body>
 <footer>
 	<script>
 		var acc = document.getElementsByClassName("accordion");
 		var i;
 		for (i = 0; i < acc.length; i++) {
 			acc[i].addEventListener("click", function() {
 				this.classList.toggle("active");
 				var panel = this.parentElement.parentElement.nextElementSibling;
 				if (panel.style.display === "contents") {
 					panel.style.display = "none";
 				} else {
 					fetch('/show_audios', {method: 'POST'})
 					.then(function(response) {
 						if(response.ok) {
 							console.log('show audio request received.');
 						}
 						throw new Error('Request failed.');
 					})
 					.then(function(data) {
		 				var inner = '';
		 				for(var i = 0; i < audios.rows.length; i++) {
		 					inner += '<td colspan="1">Clip ' + str(i+1) + '</td><td colspan="4">'+ audios.rows[i].audio_url+'</td>'
		 				}
		 				document.getElementById('acc_tr_'+data.mtg_id).innerHTML = inner;
		 			})
 					.catch(function(error) {
 						console.log(error);
 					});
 				};
 				panel.style.display = "contents";
 			}
 		};
 	</script>
 </footer>
 </html>
