<!-- /**
 * @author Hangzhi Pang
 */ -->

 <!DOCTYPE html>
 <html lang="">
 <head>
 	<meta charset="utf-8">
 	<title>Meeting</title>
 	<% include ./partials/head %>
 	<!-- CSS -->
 	<link rel="stylesheet" type="text/css" href="/css/general.css">
 	<link rel="stylesheet" type="text/css" href="/css/all_mtg.css">
 </head>
 <body>    
 	<% include ./partials/navbar %>
 	<section style="width: 100%;">
 		<div class="container main">
 			<div class="accordion" id="accordion">
 				<% for(var i = 0; i < meetings.rows.length; i++) { %>
 				<% var data_target = "#"+ meetings.rows[i].id; %>
 				<% var aria_controls = meetings.rows[i].id; %>
 				<% var card_id = "heading"+String(i) %>
 				<div class="card">
 					<div class="card-header" id=<%= card_id %>>
 						<div class="meeting_info">
 							<div class="meeting_info_item"><%= meetings.rows[i].mtg_code %></div>
 							<div class="meeting_info_item"><%= meetings.rows[i].name %></div>
 							<div class="meeting_info_item"><%= meetings.rows[i].mtg_timing.split('|')[0] %></div>
 							<div class="meeting_info_item"><%= meetings.rows[i].mtg_timing.split('|')[1] %></div>
 							</div class="meeting_info_item">
 								<button class="btn collapsed meeting_info_btn" type="button" data-toggle="collapse" data-target=<%= data_target %> aria-expanded="true" aria-controls=<%= aria_controls %>>
 									Audios and Text
 								</button>
 							</div>

 							<div id=<%= aria_controls %> class="collapse" aria-labelledby=<%= card_id %> data-parent="#accordion">
 								<div class="card-body">
 									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
 								</div>
 							</div>
 						</div>

 					<% } %>
 					</div>
 				</div>
 			</section>
 		</body>
 		<footer>

 		</footer>
 		</html>
